
Inbox 2




<% if (messages!=null) {%>
<% _.each(messages, function (message) { %>

From <li><%= message.from %></li>
To <li><%= message.to %></li>
Subject <li><%= message.subject %></li>
Content <li><%= message.msgContent %></li>
<% }) %>
<% } else { %>
Unable to find the messages
<% } %>




<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li>
					Inbox
				</li>
				<li>
					Sent Items
				</li>
				<li>
					Draft
				</li>
			</ul>
		</div>
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							From
						</th>
						<th>
							Subject
						</th>
						<th>
							Date
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							John
						</td>
						<td>
							Reg: Portrait of a child
						</td>
						<td>
							12th Sep 2015
						</td>
					</tr>
					<tr class="active">
						<td>
							2
						</td>
						<td>
							Mark
						</td>
						<td>
							Reg: illustrator
						</td>
						<td>
							12th Sep 2015
						</td>
					</tr>
					<tr class="success">
						<td>
							2
						</td>
						<td>
							Alex
						</td>
						<td>
							Reg: Our project work
						</td>
						<td>
							12th Sep 2015
						</td>
					</tr>
					<tr class="success">
						<td>
							3
						</td>
						<td>
							Admin
						</td>
						<td>
							BitCoin payment received
						</td>
						<td>
							12th Sep 2015
						</td>
					</tr>
					<tr class="success">
						<td>
							4
						</td>
						<td>
							Admin
						</td>
						<td>
							BitCoin payment received
						</td>
						<td>
							12th Sep 2015
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
