<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <link rel="stylesheet" href="/styles/about.css">
      <title>Guernica</title>


      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>
    <div class="row">
      <div class="about-banner col-md-12">
       <h1> Who are we? </h1>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        Guernica is a platform designed for conflict artists from countries which are underrepresented

        in the art world. The reasons might be censorship from official art institutions, or difficult

        access to the web. This is why not all countries will be represented here – but it means they get

        to be shown elsewhere!

        Guernica allows you to register as an artist and to showcase your work, connect with other

        artists, get commissioned and apply for competitions.<br><br>

        You can also register as a visitor and post competitions, donate to artists whose work you like

        and buy their work or commission an artist for a job.

        Guernica was created during the #peacehackLdn. Thanks to International Alert, Talking

        Peace Festival and Campus London for the opportunity!<br><br>
      </p>
    </div>
    <div class="col-md-1"></div>
  </body>
</html>
