This is crowd funding page.
<link rel="stylesheet" href="/styles/challenges.css">

<div class="challenges-content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a></h3>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>
            “Children taking responsibility”, a project by Dinesh Viswanath
          </h2>
          <p>
            Hi guys !
            I am trying to raise funds for my new book, which will tell the story of a village where all adults disappear suddenly. Children will have to organise and take responsibility. This book will be developed during workshops in schools of Bamako: how do the schoolchildren think they would react?
            <br>I need:
            <br>-	£150 for the workshops materials.
            <br>-	£850 to print and make the books.

            <br>Please help me raise the £1000 I need! Thanks, Dinesh.

          </p>

          <h3>
            DeadLine : 15th October 2015
          </h3>
          <h3>
            Total £750 of £1000
          </h3>
          <div class="progress">
            <div class="progress-bar progress-success" style="width:75%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"></a></h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2>
              “Guernica”, a platform for artists to connect with clients and other artists, by Camille Ballouche
            </h2>
            <p>
              Hello everyone, <br>
              I am working with a webdeveloper to build a platform which can be useful to conflict artists. The idea would be that artists could connect and get paid and commissioned for their work.
             <br> I need:
              <br>-	500£ to pay the developer for a month work
              <br>-	300£ to keep the website online for a year before we find other sources of funding.
              <br>Many thanks to all who can help us raise 800£! Camille


            </p>

            <h3>
              DeadLine : 30th October 2015
            </h3>
            <h3>
              Total £400 of £800
            </h3>
            <div class="progress">
              <div class="progress-bar progress-success" style="width:50%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
