<html lang="en">
<body>
	<h4> First Name : <%= artist.firstName %></h4>
	<h4> Last Name : <%= artist.lastName %></h4>
	<h4> Artist Title : <%= artist.title %></h4>
	<h4> Country : <%= artist.country %></h4>
</body>
</html>