body {
  font-family: 'Libre Baskerville', serif;
  background-color: #009591;
  color: black;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
}

.about-banner {
  height: 200px;
  margin-bottom: 60px;
}

.about-banner h1 {
  margin-top: 80px;
  color: white;
  font-size: 5.5rem;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.footer {
    margin-top: 100px;
    color: #474747;
    border: 50%;
    text-align: center;
    background-color: #E1BD0B;
    font-family: 'Montserrat', sans-serif;
    border-top: 5px solid white;
    border-style: solid;
}

.footer p {
  color: #474747;
}

