body {
  font-family: 'Libre Baskerville', serif;
  background-color: #242832;

}

.btn-primary {
  background-color: #EC7263;
}

.jumbotron .btn-primary {
    background-color: #EC7263;
}

.navbar-inverse {
    margin-bottom: 0px;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 15em;

    /*font-family: 'Righteous', cursive;*/
    font-family: 'Playfair Display', serif;
}

.jumbotron h3 {
  text-align: center;
  color: white;
}

.jumbotron {
  background-color: #009571;
}

.jumbotron .btn-primary {
  margin-left: 46%;
}

.panel-title {
    font-size: 2.7rem;
    font-family: 'Playfair Display', serif;
}

.panel-body h4 {
  font-size: 2rem;
}

.img-circle {
  width: 200px;
  height: 200px;
  margin-left: 20%;
}