body {
  font-family: 'Libre Baskerville', serif;
  background-color: #009591;
  color: black;
}

/*navbar*/
/*----------------------------*/
.navbar-inverse {
    margin-bottom: 0px;
}
/*----------------------------*/

/*jumbotron*/
/*----------------------------*/
.jumbotron h1 {
    margin-top: 60px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 8em;
    margin-top: 63px;
    font-family: 'Rock Salt', cursive;
}

.jumbotron h3 {
  text-align: center;
  color: red  ;
}

.jumbotron {
  background-image: url('../images/heba.jpg');
  background-repeat: no-repeat;
  background-size:100%;
}

.jumbotron .btn-primary {
  margin-left: 46%;
}

.panel-title {
  font-size: 2.0rem;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.panel-default>.panel-heading {
    border-color: gray;
}

.panel a {
  color: black;
}

.panel-body h4 {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.panel-body p {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.img-circle {
  width: 150px;
  height: 150px;

  /*margin-left: 10%;*/
}

.panel-body {
  display: none;
}

.footer {
  color: white;
  border: 50%;
  text-align: center;
  background-color: #c73a58;
  font-family: 'Montserrat', sans-serif;
  border-top: 5px solid white;
  border-style: solid;
}
