body {
  font-family: 'Libre Baskerville', serif;
  background-color: #009591;
  color: black;
}

.profiles-banner {
  height: 416px;
  background-color: #343434;
  margin-bottom: 60px;
}

.profiles-banner h1 {
  margin-top: 80px;
  color: white;
  font-size: 5.5rem;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.first-part {
  /*margin-bottom: 50px;*/
  text-align: center;
}

.profile-images {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  color: white;
  border: 50%;
  text-align: center;
  background-color: #c73a58;
  font-family: 'Montserrat', sans-serif;
  border-top: 5px solid white;
  border-style: solid;
}