body {
  font-family: 'Libre Baskerville', serif;
  background-color: #009591;
  color: black;
}

.profiles-banner {
  height: 416px;
  background-color: #3D3434;
  margin-bottom: 60px;
}

.background {
  background-image: url();
}

.profiles-banner h1 {
  margin-top: 80px;
  color: white;
  font-size: 5.5rem;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.first-part {
  /*margin-bottom: 50px;*/
  text-align: center;
}

.profile-images {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
    color: #474747;
    border: 50%;
    text-align: center;
    background-color: #E1BD0B;
    font-family: 'Montserrat', sans-serif;
    border-top: 5px solid white;
    border-style: solid;
}